# Last.fm
LASTFM_API_KEY=coloque_sua_api_key_aqui
LASTFM_USERNAME=coloque_seu_username_aqui

# GitHub
GITHUB_USERNAME=coloque_seu_usuario_aqui
GITHUB_TOKEN=coloque_seu_token_aqui

# Strava
STRAVA_CLIENT_ID=coloque_seu_client_id_aqui
STRAVA_CLIENT_SECRET=coloque_seu_client_secret_aqui
STRAVA_REFRESH_TOKEN=coloque_seu_refresh_token_aqui
STRAVA_ACCESS_TOKEN=coloque_seu_access_token_aqui
